
<form id="newComment" value="{{id}}">
    
    <label for="content">Comment</label>
    <textarea id="content" name="content">{{comment.content}}</textarea>

  
    <button id="editComment" type="button" class="submitButton">Edit</button>
    <button id="deleteComment" type="button" class="submitButton">Delete</button>
</form>

<div id="onPost" value="{{postid}}"></div>

<script src='/js/editComment.js'></script>