<!--
    login form
    -->

<form id="loginForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" >

    <label for="password">Password</label>
    <input type="password" id="password" name="password" >
  
    <input type="submit" value="Submit" id="submitButton">

    
</form>

<a href="/signup">Sign Up Instead</a>


<script src='/js/loginout.js'></script>