<form id="newComment" value="{{id}}">
    
    <label for="content">Last Name</label>
    <input type="text" id="content" name="content" placeholder="Some constructive criticism or something from the peanut gallery..">


    <button type="button" id="submitButton">Comment</button>
</form>

<script src='/js/newComment.js'></script>