<form id="newPost">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="A Great Title..">

    <label for="content">Content</label>
    <textarea id="content" name="content" placeholder="An insightful paragraph or two about technology.."></textarea>

    <label for="tag">Tag</label>
    <select id="tag" name="tag">
        <option value="random">random</option>
        <option value="javascript">javascript</option>
        <option value="html">html</option>
        <option value="css">css</option>
        <option value=".net">.net</option>
        <option value="android">android</option>
        <option value="python">python</option>
        <option value="java">java</option>
        <option value="ios">ios</option>
        <option value="c">c</option>
        <option value="c++">c++</option>
        <option value="c#">c#</option>
        <option value="ruby">ruby</option>
        <option value="sql">sql</option>
      
    </select>
  
    <button type="button" id="submitButton" class="myButtons">Post</button>
</form>

<script src='/js/newPost.js'></script>