

<div class="pageTitle" >{{title}}</div>
<form id="signupForm">
    <div id="available-username">Choose a cool username like Jack or HacKeRmAn_Il1lI_eg8gO0o</div>
    <label for="username">Username</label>
    <input type="text" id="newUsername" name="username" >

    <label for="password">Password</label>
    <input type="password" id="newPassword" name="password" >
  
    <input type="submit" value="Submit" id="submitButton">

    
</form>

<a href="/login">Log in Instead</a>


<script src='/js/signup.js'></script>